#about-me {
    padding: 4rem 1.5rem;
}
#about-me > .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about-me > .wrapper > h2 {
    font-size: 2em;
    text-align: center;
} 

#about-me > .wrapper > .divide-screen {
    gap: 1.5rem;
} 

#about-me > .wrapper > .divide-screen > div {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;
}

#about-me > .wrapper > .divide-screen > img {
    width: 21.875rem;
    animation: float 3s ease-in-out infinite;
} 

@media screen and (max-width: 848px) {
    #about-me > .wrapper > .divide-screen {
        display: flex;
        flex-direction: column-reverse;
    }
    #about-me > .wrapper > .divide-screen > img {
        margin: auto;
        max-width: 100%;
    }
}
