/* estilos da seção hero da página */
#hero {
    padding: 8rem 1.5rem;
}

#hero > .wrapper {
    gap: 4rem;
}

#hero > .wrapper > .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#hero > .wrapper > .left > h1 {
    font-size: 3em;
}

#hero > .wrapper > .left > .contact-me {
    max-width: fit-content;
}

#hero > .wrapper > .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero > .wrapper > .right > img {
    max-width: 21.875rem;
    animation: float 3s ease-in-out infinite;
    max-width: 100%;
}

@media screen and (max-width: 848px) {
    #hero > .divide-screen {
        display: flex;
        flex-direction: column;
    } 
}
